.deleteButton {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
  }
  
  .deleteButton, .deleteButton span {
    transition: 200ms;
  }
  
  .deleteButton .deleteText {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  .deleteButton .deleteIcon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deleteButton svg {
    width: 15px;
    fill: #eee;
  }
  
  .deleteButton:hover {
    background: #ff3636;
  }
  
  .deleteButton:hover .deleteText {
    color: transparent;
  }
  
  .deleteButton:hover .deleteIcon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .deleteButton:focus {
    outline: none;
  }
  
  .deleteButton:active .deleteIcon svg {
    transform: scale(0.8);
  }
  

  